<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCo61IPkUfDvHCwcuAjJFk03Nk7K8lIgMA</string>
	<key>GCM_SENDER_ID</key>
	<string>883145748228</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.redditClone.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>reddit-clone-94697</string>
	<key>STORAGE_BUCKET</key>
	<string>reddit-clone-94697.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:883145748228:ios:e12c1e5015bfa5caa36a51</string>
</dict>
</plist>